<div class="container d-flex align-items-center justify-content-center">
    <div class="card shadow-sw my-2">

        <div class="row">
            <div class="col">
                <img class="bd-placeholder-img" width="300px" height="400px" src='{{book.imageUrl}}'>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>{{book.name | truncate:45}}</b></h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Autor</b>: {{book.author}}</li>
                        <li class="list-group-item"><b>ISBN</b>: {{book.isbn}}</li>
                        <li class="list-group-item"><b>Categoria</b>: {{book.category}}</li>
                        <li class="list-group-item"><b>Idioma</b>: {{book.idiom}}</li>
                        <li class="list-group-item"><b>Preço</b>: {{book.price | currency:'BRL'}}</li>
                        <li class="list-group-item">
                            <div [ngSwitch]="truncateRating(book.rating)">
                                <div *ngSwitchCase="1"><b>Avaliação</b>: {{book.rating}} (Ruim)</div>
                                <div *ngSwitchCase="2"><b>Avaliação</b>: {{book.rating}} (Regular)</div>
                                <div *ngSwitchCase="3"><b>Avaliação</b>: {{book.rating}} (Bom)</div>
                                <div *ngSwitchCase="4"><b>Avaliação</b>: {{book.rating}} (Muito bom)</div>
                                <div *ngSwitchCase="5"><b>Avaliação</b>: {{book.rating}} (Excelente)</div>
                                <div *ngSwitchDefault><b>Avaliação</b>: {{book.rating}} (Não classificado)</div>
                                <book-store-rating [rating-value]="book.rating"></book-store-rating>
                                <button type="button" class="btn btn-primary my-3 mx-5"
                                    (click)="purchaseBook(book)">Comprar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h5 class="card-title text-center"><b>Formas de pagamentos</b></h5>
            <div class="btn-group">

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(1)">
                    <img src="assets/images/img_boleto.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(2)">
                    <img src="assets/images/img_card_caixa.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(3)">
                    <img src="assets/images/img_card_hipercard.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(4)">
                    <img src="assets/images/img_card_master.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(5)">
                    <img src="assets/images/img_card_mercado_pago.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(6)">
                    <img src="assets/images/img_card_nubank.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(7)">
                    <img src="assets/images/img_card_santander.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(8)">
                    <img src="assets/images/img_card_visa.svg" />
                </button>

                <button type="button" class="btn btn-warning btn-block btn-sm my-2  mx-1" (click)="choicePayment(9)">
                    <img src="assets/images/img_pix.svg" />
                </button>
            </div>
        </div>
    </div>
</div>