.flex-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.col-filter{
    max-width: 20%;
}

.col-books{
    max-width: 80%;
}