<!-- Navbar expande em largura, tema dark e background dark-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/"  class="navbar-brand">
            <book-store-header></book-store-header>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Lista de livros</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

